.pageHeader {
  text-align: center;
}

.list {
  margin: 0.1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.shop {
  border: 1px dotted black;
  flex-basis: 25%;
  padding: 0.1em;
  color: white;
  background-color: tan;
}
